:root {
  --PINK: #e86f54;
  --DARK-PINK: #e25b41;
  --WHITE: #ffffff;
  --BLACK: #000000;
}

body {
  background: var(--WHITE);
  color: var(--BLACK);
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0px;
}

img {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}


/*section About*/

.about-section{
margin: 0 16px;
}
<<<<<<< Updated upstream
.about{
color: var(--BLACK);
font-family: Montserrat; sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700px;
line-height: normal;
border-bottom: 1px solid var(--BLACK);
text-align: left;
}
.about-span{
background: var(--WHITE);
padding-right: 14px;
position: relative;
top: 14px;  
}
.about-text{
color: var(--BLACK);
font-family: Montserrat; sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 47px 0 16px;
}
=======


/*section About*/

.about-section{
  margin: 0 16px;
  }
  .about{
  color: var(--BLACK);
  font-family: Montserrat; sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700px;
  line-height: normal;
  border-bottom: 1px solid var(--BLACK);
  text-align: left;
  }
  .about-span{
  background: var(--WHITE);
  padding-right: 14px;
  position: relative;
  top: 14px;  
  }
  .about-text{
  color: var(--BLACK);
  font-family: Montserrat; sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 47px 0 16px;
  }
>>>>>>> Stashed changes
