:root {
  --PINK: #e86f54;
  --DARK-PINK: #e25b41;
  --WHITE: #ffffff;
  --BLACK: #000000;
}

body {
  background: var(--WHITE);
  color: var(--BLACK);
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0px;
}

img {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.header {
  width: 288px;
  height: 35px;
}


.header-mobile-layout {
    display: flex;
    max-width: 480px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 35px;
}

.hero {
  width: 288px;
height: 389px;
display: flex;
padding: 16px 16px;
margin: 0 auto;
flex-direction: column;
position: relative;
}

.hero-heading {
color: var(--BLACK);
text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
bottom: 0;

}

.hero-subheading {
  color: var(--BLACK);
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.subheading-box {
  width: 46px;
  height: 34px;
  display: flex;
  margin-left: 11px;
  margin-right: 14px;
  position: absolute;
  top: 50%;
}



.image-home-page-box {
  width: 145px;
height: 274px;
display: flex;
align-items: center;
padding: 72px 72px;
}



.heading-box {
  width: 288px;
  height: 63px;
  display: flex;
}


.container {
  width: 320px;
  margin: 0 auto;
  padding: 32px 16px;
}

.footer {
  background: var(--BLACK);
  color: var(--WHITE);
}

.footer-header {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-content {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
