:root {
  --PINK: #e86f54;
  --DARK-PINK: #e25b41;
  --WHITE: #ffffff;
  --BLACK: #000000;
}

body {
  background: var(--WHITE);
  color: var(--BLACK);
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0px;
}

img {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------section About-mobile-----------------*/


.container-about {
  margin: 0 auto;
  max-width: 320px;
  height: 395px;
  padding: 0 16px;
}  
.about{
  color: var(--BLACK);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700px;
  line-height: normal;
  border-bottom: 1px solid var(--BLACK);
  text-align: left;
}
.about-span{
  background: var(--WHITE);
  padding-right: 14px;
  position: relative;
  top: 14px;  
}
.about-text{
  color: var(--BLACK);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 47px 0 16px;
}
.image-about{
    width: 288px;
    height: 178;
}

/*------------------------------------------------------*/

/* tablet styles */

@media screen and (min-width: 768px) {


  /*--------------section About-tablet-----------------*/
.container-about {
  margin: 0 auto;
  max-width: 768px;
  height: 301px;
  padding: 0 24px;
}
.about-ul{
  display: flex;
  flex-direction: row;
  columns: 2;
}
.about-text{
  font-size: 20px;
  padding: 28px 0 0;
  line-height: 24.38px;
  max-width: 322px;
}
.image-about{
  width: 344px;
  height: 217px;
  margin-left: 54px;
}
.about{
  margin-bottom: 54px;
  font-size: 44px;
}
.about-span{
  top: 28px;
}
.about-ul{
  justify-content: center;
}
/*------------------------------------------------------*/


}