<section class="container-about" id="about">
  <h2 class="about"><span class="about-span">ABOUT</span></h2>
  <div class="about-ul">
    <div><p class="about-text">We are a minimalistic flower studio. 
            We love people and flowers. Therefore, every day we give people the beauty 
            and joy creating stylish and modern masterpieces. 
            Every bouquet we create is unique as you are.</p></div>
            <picture>
        <source
          srcset="./images/image_about_desktop.jpg, ./images/image_about_desktop@2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/image_about_tablet.jpg, ./images/image_about_tablet@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <img
          class="image-about"
          src="./images/image_about_mobile.jpg"
          srcset="./images/image_about_mobile@2x.jpg 2x"
          alt="two orange flowerse"
        />
      </picture>
 </div>
</section>