<section class="container-about" id="about">
 <div>
  <h2 class="about"><span class="about-span">ABOUT</span></h2>
  <ul class="about-ul">
   <li>
    <p class="about-text">We are a minimalistic flower studio. 
            We love people and flowers. Therefore, every day we give people the beauty 
            and joy creating stylish and modern masterpieces. 
            Every bouquet we create is unique as you are.</p></li>
    <li>
        <img src="./images/image_about@1x.jpg" alt="two orange flowerse" srcset="
      ./images/image_about@1x.jpg 1x,
      ./images/image_about@1x.jpg 2x" class="image-about"/></li>
  </ul>
 </div>
</section>