<section class="blog-section" id="blog">
  <div class="container-blog">
    <div class="blog-title-line">
      <h2 class="blog-title">BLOG</h2>
      <div class="line"></div>
    </div>
    <div class="flower-list">
      <ul class="flowers">
        <li>
          <img
            src="./images/flower1.jpg"
            srcset="./images/flower1@2x.jpg"
            alt="green flower"
            class="flower"
          />
        </li>
        <li>
          <img
            src="./images/flower2.jpg"
            srcset="./images/flower2@2x.jpg"
            alt="brown flower"
            class="flower"
          />
        </li>
        <li>
          <img
            src="./images/flower3.jpg"
            srcset="./images/flower3@2x.jpg"
            alt="blue flower"
            class="flower-mobile-tablet flower"
          />
        </li>
      </ul>
    </div>
    <div class="blog-bottom-section">
      <ul class="icons">
        <li class="icon-list">
          <svg class="arrows">
            <use href="./images/icons.svg#icon-down-arrow-left"></use>
          </svg>
        </li>
        <li>
          <svg class="arrows">
            <use href="./images/icons.svg#icon-down-arrow-right"></use>
          </svg>
        </li>
      </ul>
      <div class="buttons-blog">
        <h3 class="blog-text">Follow to our newsletter</h3>
        <button type="button" class="blog-button" data-modal-open="3">Subscribe
        </button>
      </div>
    </div>
  </div>
</section>
