<section title="Delivery" class="container delivery-section">
  <h2>DELIVERY</h2>
  <ol class="delivery-list">
    <li><span class="list-number">Choose your bouquet and make an order on website</span></li>
    <li>
      <span class="list-number"
        >Wait for the call to clarify the details of the order. You can pay online or to the
        courier</span
      >
    </li>
    <li>
      <span class="list-number"
        >Wait for the delivery at the selected time or pick up the order from the store</span
      >
    </li>
    <li><span class="list-number">Make someone happy or enjoy yourself</span></li>
  </ol>
  <div class="delivery-img">
    <img src="images/deliver-img@1x.jpg" alt="Many of colored flowers like pink orange and yellow" />
  </div>
</section>
