<footer class="footer">
  <div class="container footer-flex">
    <ul class="footer-container">
      <h1 class="footer-header">Navigation</h1>
      <li class="footer-content">Anemone</li>
      <li class="footer-content">About us</li>
      <li class="footer-content">Store</li>
      <li class="footer-content">Delivery</li>
    </ul>
    <ul class="footer-container">
      <h1 class="footer-header">Opening times</h1>
      <li class="footer-content">Every day</li>
      <li class="footer-content">9:00 - 22:00</li>
    </ul>
    <ul class="footer-container">
      <h1 class="footer-header">Contacts</h1>
      <li class="footer-content">+38 063 123 45 67</li>
      <li class="footer-content">anemonestudio@example.com</li>
      <li class="footer-content">Reitarska Street, 11 Kyiv, Ukraine</li>
    </ul>
    <ul class="footer-container">
      <li>
        <svg class="icon-footer" width="28" height="28">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </li>
      <li>
        <svg class="icon-footer" width="28" height="28">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </li>
    </ul>
  </div>
</footer>
