<footer class="footer">
  <div class="container-footer footer-flex">
    <ul>
      <li>
        <a class="footer-link" href="./index.html">
          <svg class="icon-footer" width="73" height="58">
            <use href="./images/icons.svg#white-ae-logo"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="footer-container">
      <li><h1 class="footer-header">Navigation</h1></li>
      <li class="footer-content">Anemone</li>
      <li class="footer-content">About us</li>
      <li class="footer-content">Store</li>
      <li class="footer-content">Delivery</li>
    </ul>
    <ul class="footer-container">
      <li><h1 class="footer-header">Opening times</h1></li>
      <li class="footer-content">Every day</li>
      <li class="footer-content">9:00 - 22:00</li>
    </ul>
    <ul class="footer-container">
      <li><h1 class="footer-header">Contacts</h1></li>
      <li class="footer-content">+38 063 123 45 67</li>
      <li class="footer-content">anemonestudio@example.com</li>
      <li class="footer-content">Reitarska Street, 11 Kyiv, Ukraine</li>
    </ul>
    <ul class="footer-container-icons">
      <li>
        <a class="footer-link" href="http://www.facebook.com">
          <svg class="icon-footer" width="28" height="28">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-link" href="http://www.instagram.com">
          <svg class="icon-footer" width="28" height="28">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
