<header class="header">
    <div class="header-mobile-layout">
     <svg width="45" height="35" class="logo-icon">
       <use href="images/icons.svg#icon-Logo">
       </use>
     </svg>
     <nav>
     <svg width="22" height="22" class="tel-icon">
       <use href="images/icons.svg#icon-tel">
       </use>
     </svg>
     <button   
     class="menu-toggle js-open-menu"
     aria-expanded="false"
     aria-controls="mobile-menu"
     >
     <svg width="24" height="24" class="nav-menu-button-icon">
       <use href="images/icons.svg#icon-nav-menu-button">
       </use>
     </svg>
   </button>
   <div class="mobile-menu-close">
     <button
     class="menu-toggle js-close-menu"
     aria-expanded="false"
     aria-controls="mobile-menu"
   >
   <svg width="24" height="24" class="nav-menu-button-icon">
     <use href="images/icons.svg#icon-nav-menu-button">
     </use>
   </svg>
   </button>
   </div>
 </nav>
   </div>
   </header>