<header class="header">
  <div class="header-mobile-layout">
    <ul class="header-list">
      <li>
        <p class="header-list-text">Anemone</p>
      </li>
      <li>
        <p class="header-list-text">About us</p>
      </li>
      <li>
        <p class="header-list-text">Store</p>
      </li>
      <li>
        <p class="header-list-text">Delivery</p>
      </li>
      <li>
        <p class="header-list-text">Blog</p>
      </li>
    </ul>
    <svg width="45" height="35" class="logo-icon">
      <use href="images/icons.svg#icon-Logo"></use>
    </svg>
    <svg width="22" height="22" class="tel-icon">
      <use href="images/icons.svg#icon-tel"></use>
    </svg>
    <button
      class="burger-button"
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>

  <div class="mobile-menu js-menu-container">
    <div class="mobile-menu-close">
      <button class="menu-toggle js-close-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</header>
