<header class="header" id="anemone">
  <div class="header-mobile-layout">
    <a href="./index.html"
      ><svg width="45" height="35" class="logo-icon">
        <use href="images/icons.svg#icon-Logo"></use>
      </svg>
    </a>
    <ul class="header-list">
      <li>
        <a class="header-list-link" href="#anemone"><p class="header-list-text">Anemone</p></a>
      </li>
      <li>
        <a class="header-list-link" href="#about"><p class="header-list-text">About us</p></a>
      </li>
      <li>
        <a class="header-list-link" href="#store"><p class="header-list-text">Store</p></a>
      </li>
      <li>
        <a class="header-list-link" href="#delivery"><p class="header-list-text">Delivery</p></a>
      </li>
      <li>
        <a class="header-list-link" href="#blog"><p class="header-list-text">Blog</p></a>
      </li>
    </ul>
    <a class="tel-button" href="tel:+380631234567">
      <svg width="22" height="22" class="tel-icon">
        <use href="images/icons.svg#icon-tel"></use>
      </svg>
    </a>    
    <button
      class="menu-toggle js-open-menu burger-button"
      aria-expanded="false"
    >
      <svg
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>

  <div class="js-menu-container">
    <div class="mobile-menu-close">
      <button class="modal-btn-close menu-toggle js-close-menu" type="button">
        <svg class="icon-menu-close" width="24" height="24">
          <use href="./images/icons.svg#icon-icon-menu"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu">
      <ul class="menu-list">
        <li><a class="menu-links" href="#anemone">Anemone</a></li>
        <li><a class="menu-links" href="#about">About us</a></li>
        <li><a class="menu-links" href="#store">Store</a></li>
        <li><a class="menu-links" href="#delivery">Delivery</a></li>
        <li><a class="menu-links" href="#blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
