 <section class="hero">
    <div class="hero-box">
  
      <h1 class="hero-heading">ANEMONE</h1>
     
  </div>
  <div class="subheading-box"> 
  <h2 class="hero-subheading">flower studio</h2>
   <div class="image-home-page-box">
      <img src="./images/image_home_page.jpg" alt="home page image" class="main-image">
    </div>
    <div class="icon-shop-box">
        <button type="button" class="shop-now-button" data-modal-open="1">
      <svg class="icon-shop-now" width="66" height="66">
            <use href="./images/icons.svg#icon-shop-now"></use>
          </svg>
        </button>
    </div>
  </div>
</section>
