<section class="hero">
  <div class="hero-box">
    <div class="heading-box">
      <h1 class="hero-heading">ANEMONE</h1>
    </div>
  </div>
  <div class="subheading-box">
    <h2 class="hero-subheading">flower studio</h2>
    <div class="image-home-page-box">
      <img src="./images/image_home_page.jpg" alt="home page image" width="145" height="274" />
    </div>
    <div class="icon-shop-box">
      <svg class="icon-shop-now" width="66" height="66">
        <use href="./images/icons.svg#icon-shop-now"></use>
      </svg>
    </div>
  </div>
</section>
