 <section class="hero">
    <div class="hero-box">
  
      <h2 class="hero-heading">ANEMONE</h1>
     
  </div>
  <div class="subheading-box"> 
  <h2 class="hero-subheading">flower studio</h2>
   <div class="image-home-page-box">
    <picture>
      <source 
      srcset="/src/images/image_home_page_desktop@1x.jpg 1x, /src/images/image_home_page_desktop@2x.jpg 2x" 
      media="(min-width: 1280px)"
      />
      <source 
      srcset="/src/images/image_home_page_tablet@1x.jpg 1x, /src/images/image_home_page_tablet@2x.jpg 2x" 
      media="(min-width: 768px)"
      />
    <img src="/src/images/image_home_page.jpg" 
    srcset="/src/images/image_home_page_mobile@2x.jpg 2x"
    alt="home page image" 
    class="main-image">
  </picture>
    </div>
    <div class="icon-shop-box">
        <button type="button" class="shop-now-button" data-modal-open="1">
      <svg class="icon-shop-now" width="66" height="66">
            <use href="./images/icons.svg#icon-shop-now"></use>
          </svg>
        </button>
    </div>
  </div>
</section>
