<div class="backdrop is-hidden" data-modal="1">
  <div class="modal">
    <button type="button" class="close_modal_button" data-modal-close="1">
      <svg width="18" height="18"><use href="./images/icons.svg#icon-close"></use></svg>
    </button>
    <div class="contact_us_modal_wraper">
      <h2 class="contact_us_modal_head">Contact us</h2>
      <p class="contact_us_modal_txt">
        If you have any additional questions or you want to clarify something before you make an
        order please fill in your contact details. We will call you back.
      </p>
      <form class="contact_us_modal_form_wrapper">
        <label class="contact_us_userdata_modal_label label_name" for="user_name">
          Name
          <input
            required
            class="contact_us_name_modal_input"
            type="text"
            id="user_name"
            name="name"
            placeholder="Your name"
            title="Use only letters and numbers."
            pattern="^[a-zA-Z0-9]+ ?(\s[a-zA-Z0-9]+)*$"
            minlength="3"
          />
          <svg class="valid_name_modal_icon" width="12px" height="20px">
            <use href="./images/icons.svg#icon-correct-logo"></use>
          </svg>
          <svg class="invalid_name_modal_icon" width="12px" height="20px">
            <use href="./images/icons.svg#icon-Error-logo"></use>
          </svg>
        </label>
        <label class="contact_us_userdata_modal_label label_email" for="user_email"
          >Email
          <input
            required
            class="contact_us_email_modal_input"
            type="email"
            id="user_email"
            name="email"
            placeholder="Your email"
            title="Wrong email format."
            pattern="[a-z0-9._%+\-]{3,}@[a-z0-9.\-]{3,}\.[a-z]{2,3}$"
          />
          <svg class="valid_email_modal_icon" width="12px" height="20px">
            <use href="./images/icons.svg#icon-correct-logo"></use>
          </svg>
          <svg class="invalid_email_modal_icon" width="12px" height="20px">
            <use href="./images/icons.svg#icon-Error-logo"></use>
          </svg>
        </label>
        <button type="submit" class="contact_us_modal_button">Send</button>
      </form>
    </div>
  </div>
</div>

<div class="backdrop is-hidden" data-modal="2">
  <div class="modal_2">
    <button type="button" class="close_modal_button" data-modal-close="2">
      <svg width="18" height="18"><use href="./images/icons.svg#icon-close"></use></svg>
    </button>
    <div class="contact_us_modal_wraper">
      <h2 class="contact_us_modal_head">Contact us</h2>
      <p class="contact_us_modal_txt">
        If you have any additional questions or you want to clarify something before you make an
        order please fill in your contact details. We will call you back.
      </p>
      <form class="contact_us_modal_form_wrapper_2">
        <label class="contact_us_userdata_modal_label_2 label_name_2" for="user_name_2">
          Name
          <input
            required
            class="contact_us_name_modal_input_2"
            type="text"
            id="user_name_2"
            name="name"
            placeholder="Your name"
            title="Use only letters and numbers."
            pattern="^[a-zA-Z0-9]+ ?(\s[a-zA-Z0-9]+)*$"
            minlength="3"
          />
          <svg class="valid_name_modal_icon_2" width="12px" height="20px">
            <use href="./images/icons.svg#icon-correct-logo"></use>
          </svg>
          <svg class="invalid_name_modal_icon_2" width="12px" height="20px">
            <use href="./images/icons.svg#icon-Error-logo"></use>
          </svg>
        </label>
        <label class="contact_us_userdata_modal_label_2 label_email_2" for="user_email_2"
        >Email
          <input
            required
            class="contact_us_email_modal_input_2"
            type="email"
            id="user_email_2"
            name="email"
            placeholder="Your email"
            title="Wrong email format."
            pattern="[a-z0-9._%+\-]{3,}@[a-z0-9.\-]{3,}\.[a-z]{2,3}$"
          />
          <svg class="valid_email_modal_icon_2" width="12px" height="20px">
            <use href="./images/icons.svg#icon-correct-logo"></use>
          </svg>
          <svg class="invalid_email_modal_icon_2" width="12px" height="20px">
            <use href="./images/icons.svg#icon-Error-logo"></use>
          </svg>
        </label>
        <button type="submit" class="contact_us_modal_button_2" data-modal-open="modal5">Send</button>
      </form>  
    </div>  
  </div>  
</div>

<div class="backdrop is-hidden" data-modal='3'>
  <div class="modal3">
    <div class="subscribe_modal_image"><button type="button" class="close_modal_button" data-modal-close="3">
    <svg width="18" height="18"><use href="./images/icons.svg#icon-close"></use></svg>
    </button>
    </div>
     <div class="subscribe_modal_box">
       <h2 class="subscribe_modal_head">Follow to our newsletter</h2>
       <p class="subscribe_modal_text">
         Be the first to get exclusive offers and the latest news on our product directly in your
         box.
        </p>
        <form class="subscribe_modal_form_wrapper">
        <label class="subscribe_userdata_modal_label label_email_3" for="user_email_3">
        Email
      <input
      required
      class="subscribe_email_modal_input"
      type="email"
      id="user_email_3"
      name="email"
      placeholder="Your email"
      title="Wrong email format."
      pattern="[a-z0-9._%+\-]{3,}@[a-z0-9.\-]{3,}\.[a-z]{2,3}$"
      />
      <svg class="valid_subscribe_email_modal_icon" width="12px" height="20px">
        <use href="./images/icons.svg#icon-correct-logo"></use>
      </svg>
      <svg class="invalid_subscribe_email_modal_icon" width="12px" height="20px">
        <use href="./images/icons.svg#icon-Error-logo"></use>
      </svg>
    </label>
    <button type="submit" class="subscribe_modal_button" data-modal-close="3">Subscribe</button>
  </form>    
</div>
</div>
</div>
</div>

<div class="backdrop is-hidden" data-modal='4'>
  <div class="modal4">
    <button type="button" class="close_modal_button" data-modal-close="4">
      <svg width="18" height="18"><use href="./images/icons.svg#icon-close"></use></svg>
    </button>  
    <div class="thank_you_modal_box">
      <svg class="flowers_modal_img" width="188" height="142"><use href="./images/icons.svg#icon-thank-you-flower"></use></svg>
      <h2 class="thank_you_modal_head">Thank you!</h2>
      <p class="thank_you_modal_text">We have received your contact details and will reach you soon.</p>
      <button type="button" class="thank_you_modal_button" data-modal-close="5">Continue</button>
    </div>  
  </div>  
</div>

<div class="backdrop is-hidden" data-modal='5'>
  <div class="modal4">
    <button type="button" class="close_modal_button" data-modal-close="6">
      <svg width="18" height="18"><use href="./images/icons.svg#icon-close"></use></svg>
    </button>  
    <div class="thank_you_modal_box">
      <svg class="flowers_modal_img" width="188" height="142"><use href="./images/icons.svg#icon-thank-you-flower"></use></svg>
      <h2 class="thank_you_modal_head">Thank you!</h2>
      <p class="thank_you_modal_text">We have received your contact details and will reach you soon.</p>
      <button type="button" class="thank_you_modal_button" data-modal-close="7">Continue</button>
    </div>  
  </div>  
</div>

