<div class="backdrop is-hidden" data-modal="1">
  <div class="modal">
    <button type="button" class="close_modal_button" data-modal-close="1">
      <svg width="18" height="18"><use href="./images/icons.svg#icon-close"></use></svg>
    </button>
    <div class="contact_us_modal_wraper">
      <h2 class="contact_us_modal_head">Contact us</h2>
      <p class="contact_us_modal_txt">
        If you have any additional questions or you want to clarify something before you make an
        order please fill in your contact details. We will call you back.
      </p>
      <form class="contact_us_modal_form_wrapper">
        <label class="contact_us_userdata_modal_label label_name" for="user_name">
          Name
          <input
            required
            class="contact_us_name_modal_input"
            type="text"
            id="user_name"
            name="name"
            placeholder="Your name"
            title="Use only letters and numbers."
            pattern="^[a-zA-Z0-9]+ ?(\s[a-zA-Z0-9]+)*$"
            minlength="3"
          />
          <svg class="valid_name_modal_icon" width="12px" height="20px">
            <use href="./images/icons.svg#icon-correct-logo"></use>
          </svg>
          <svg class="invalid_name_modal_icon" width="12px" height="20px">
            <use href="./images/icons.svg#icon-Error-logo"></use>
          </svg>
        </label>
        <label class="contact_us_userdata_modal_label label_email" for="user_email"
          >Email
          <input
            required
            class="contact_us_email_modal_input"
            type="email"
            id="user_email"
            name="email"
            placeholder="Your email"
            title="Wrong email format."
            pattern="[a-z0-9._%+\-]{3,}@[a-z0-9.\-]{3,}\.[a-z]{2,3}$"
          />
          <svg class="valid_email_modal_icon" width="12px" height="20px">
            <use href="./images/icons.svg#icon-correct-logo"></use>
          </svg>
          <svg class="invalid_email_modal_icon" width="12px" height="20px">
            <use href="./images/icons.svg#icon-Error-logo"></use>
          </svg>
        </label>
        <button type="submit" class="contact_us_modal_button" data-modal-close="1">Send</button>
      </form>
    </div>
  </div>
</div>

<div class="backdrop is-hidden" data-modal="2">
  <div class="modal">
    <button type="button" class="close_modal_button" data-modal-close="2">
      <svg width="18" height="18"><use href="./images/icons.svg#icon-close"></use></svg>
    </button>
    <div>
      <h2>Thank you!</h2>
      <p>We have received your contact details and will reach you soon.</p>
    </div>
    <button type="button" data-modal-close="2">Continue</button>
  </div>
</div>

<div class="backdrop is-hidden" data-modal="3">
  <div class="modal">
    <button>
      <svg width="18" height="18">x</svg>
    </button>
    <div>
      <img />
      <h2>Follow to our newsletter</h2>
      <p>
        Be the first to get exclusive offers and the latest news on our product directly in your
        box.
      </p>
      <p>Email</p>
      <input type="email" name="email" placeholder="Your email" minlength="3" required />
    </div>
    <button>Subscribe</button>
  </div>
</div>
