<section class="store" id="store">
  <div class="container-store">
    <h2 class="store-header-secondary">
      <span class="store-header-secondary-span">STORE</span>
    </h2>
    <ul class="store-list list">
      <li class="store-list-item">
        <picture>
          <source
            srcset="./images/bouquet3l.jpg, ./images/bouquet3l@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/bouquet3m.jpg, ./images/bouquet3m@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            class="store-image"
            src="./images/bouquet3s.jpg"
            srcset="./images/bouquet3s@2x.jpg 2x"
            alt="bouquet"
          />
        </picture>

        <div class="store-list-item-descr">
          <h3 class="store-list-item-descr-h-tertiary">
            <span class="store-list-item-descr-h-tertiary-span">compliments</span>
          </h3>
          <p class="store-list-item-descr-p">from $15</p>
        </div>
      </li>
      <li class="store-list-item">
        <picture>
          <source
            srcset="./images/bouquet1l.jpg, ./images/bouquet1l@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/bouquet1m.jpg, ./images/bouquet1m@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            class="store-image"
            src="./images/bouquet1s.jpg"
            srcset="./images/bouquet1s@2x.jpg 2x"
            alt="bouquet"
          />
        </picture>
        <div class="store-list-item-descr">
          <h3 class="store-list-item-descr-h-tertiary">
            <span class="store-list-item-descr-h-tertiary-span">bouquets size S</span>
          </h3>

          <p class="store-list-item-descr-p">from $25</p>
        </div>
      </li>
      <li class="store-list-item">
        <picture>
          <source
            srcset="./images/bouquet2l.jpg, ./images/bouquet2l@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/bouquet2m.jpg, ./images/bouquet2m@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            class="store-image"
            src="./images/bouquet2s.jpg"
            srcset="./images/bouquet2s@2x.jpg 2x"
            alt="bouquet"
          />
        </picture>

        <div class="store-list-item-descr">
          <h3 class="store-list-item-descr-h-tertiary">
            <span class="store-list-item-descr-h-tertiary-span">bouquets size M</span>
          </h3>
          <p class="store-list-item-descr-p">from $45</p>
        </div>
      </li>
      <li class="store-list-item">
        <picture>
          <source
            srcset="./images/bouquet4l.jpg, ./images/bouquet4l@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/bouquet4m.jpg, ./images/bouquet4m@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            class="store-image"
            src="./images/bouquet4s.jpg"
            srcset="./images/bouquet4s@2x.jpg 2x"
            alt="bouquet"
          />
        </picture>

        <div class="store-list-item-descr">
          <h3 class="store-list-item-descr-h-tertiary">
            <span class="store-list-item-descr-h-tertiary-span">bouquets size L</span>
          </h3>
          <p class="store-list-item-descr-p">from $60</p>
        </div>
      </li>
    </ul>
    <button class="store-button" type="button" data-modal-open="2">Order flowers</button>
  </div>
</section>
