<section class="store" id="store">
  <div class="container-store">
    <h2 class="store-header-secondary">
      <span class="store-header-secondary-span">Store</span>
    </h2>
    <ul class="store-list list">
      <li class="store-list-item">
        <img src="./images/bouquet3s.jpg" alt="bouquet" />
        <div class="store-list-item-descr">
          <h3 class="store-list-item-descr-h-tertiary">compliments</h3>
          <p class="store-list-item-descr-p">from $15</p>
        </div>
      </li>
      <li class="store-list-item">
        <img src="./images/bouquet1s.jpg" alt="bouquet" />
        <div class="store-list-item-descr">
          <h3 class="store-list-item-descr-h-tertiary">bouquets size S</h3>
          <p class="store-list-item-descr-p">from $25</p>
        </div>
      </li>
      <li class="store-list-item">
        <img src="./images/bouquet2s.jpg" alt="bouquet" />
        <div class="store-list-item-descr">
          <h3 class="store-list-item-descr-h-tertiary">bouquets size M</h3>
          <p class="store-list-item-descr-p">from $45</p>
        </div>
      </li>
      <li class="store-list-item">
        <img src="./images/bouquet4s.jpg" alt="bouquet" />
        <div class="store-list-item-descr">
          <h3 class="store-list-item-descr-h-tertiary">bouquets size L</h3>
          <p class="store-list-item-descr-p">from $60</p>
        </div>
      </li>
    </ul>
    <button class="store-button" type="button" data-modal-open="1">Order flowers</button>
  </div>
</section>
