<footer class="footer">
    <div class="container">
      <ul>
        <h1 class="footer-header">Navigation</h1>
        <li>Anemone</li>
        <li>About us</li>
        <li>Store</li>
        <li>Delivery</li>
      </ul>
      <ul>
        <h1 class="footer-header">Opening times</h1>
        <li>Every day</li>
        <li>9:00 - 22:00</li>
      </ul>
      <ul>
        <h1 class="footer-header">Contacts</h1>
        <li>+38 063 123 45 67</li>
        <li>anemonestudio@example.com</li>
        <li>Reitarska Street, 11 Kyiv, Ukraine</li>
      </ul>
      <ul>
        <li>
          <svg class="none" width="28" height="28">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </li>
        <li>
          <svg class="none" width="28" height="28">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </li>
      </ul>
    </div>
  </footer>