:root {
  --PINK: #e86f54;
  --DARK-PINK: #e25b41;
  --WHITE: #ffffff;
  --BLACK: #000000;
  --LIGHTGREY: #5c5c5c;
  --INACTIVE_BROWN: rgba(232, 111, 84, 0.4);
  --FADEDBLACK: rgba(17, 17, 17, 0.7);
  --CORRECTCOLOR: #3cbc81;
  --ERRORCOLOR: #e74a3b;
}

body {
  background: var(--WHITE);
  color: var(--BLACK);
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0px;
}

img {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header-mobile */

.header {
  width: 288px;
  height: 35px;
  margin: 16px auto;
}

.header-mobile-layout {
  display: flex;
  max-width: 480px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 35px;
}

.header-list {
display: none;
}

/* section-hero */

.hero {
 max-width: 320px; 
 height: 395px;
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
}

.hero-heading {
  color: var(--BLACK);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  bottom: 0;
}

.icon-shop-box {
  padding-left: 10px;
}

.hero-subheading {
  color: var(--BLACK);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subheading-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  display: flex;
  flex-flow: column nowrap;
}

.mobile-menu-close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.js-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--background-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.js-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-close .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.image-home-page-box {
  width: 145px;
  height: 274px;
}

.heading-box {
  width: 288px;
  height: 63px;
  display: flex;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 32px 16px;
}

.footer {
  background: var(--BLACK);
  color: var(--WHITE);
}

.footer-header {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
  padding-bottom: 18px;
}

.footer-content {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  padding-bottom: 12px;
  word-wrap: break-word;
  max-width: auto;
}

.icon-footer {
  fill: none;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
  justify-content: space-evenly;
}

.footer-container {
  max-width: 320px;
  flex-wrap: wrap;
}

/*---------------section About-mobile-----------------*/

.container-about {
  margin: 0 auto;
  max-width: 320px;
  margin-bottom: 60px;
  padding: 0 16px;
 }

.about {
  color: var(--BLACK);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700px;
  line-height: normal;
  border-bottom: 1px solid var(--BLACK);
  text-align: left;
}

.about-span {
  background: var(--WHITE);
  padding-right: 14px;
  position: relative;
  top: 14px;  
}

.about-text {
  color: var(--BLACK);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 47px 0 16px;
}

.image-about {
  width: 288px;
  height: 178px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx){
    
  }

/*--------------section About-tablet-----------------*/
@media screen and (min-width: 768px) {

  /* header-tablet */
  
  .header {
    width: 720px;
    height: 57px;
    flex-shrink: 0;
    margin: 24px auto;
  }

  .header-mobile-layout {
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    height: 57px;
    margin: 24px auto;
    display: flex;
  }

  .header-list {
    display: flex;
    width: 469px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
  }

  .header-list-text {
    color: var(--BLACK);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .burger-button {
    display: none;
  }

  .logo-icon {
    width: 72px;
    height: 57px;
    flex-shrink: 0;
    order: -1;
    margin-right: 80px;
  }

  .tel-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  /* section Hero-tablet */
  .hero {
    max-width: 768px; 
    height: 301px;
    /* display: flex; */
    padding: 0 24px;
    margin: 0 auto;
    /* flex-direction: column; */
    position: relative;
  }

  .icon-shop-now {
    width: 145px;
    height: 145px;
  }

 .hero-heading {
    font-size: 120px;
  }

 .hero-subheading {
    font-size: 24px;
  }

  /*--------------section About-tablet-----------------*/
  .container-about {
    margin: 0 auto;
    max-width: 768px;
    height: 301px;
    padding: 0 24px;
  }
  .about-ul {
    display: flex;
    flex-direction: row;
    columns: 2;
  }
  .about-text {
    font-size: 20px;
    padding: 28px 0 0;
    line-height: 24.38px;
    max-width: 322px;
  }
  .image-about {
    width: 344px;
    height: 217px;
    margin-left: 54px;
  }
  .about {
    margin-bottom: 54px;
    font-size: 44px;
  }
  .about-span {
    top: 28px;
  }
  .about-ul {
    justify-content: center;
  }
  .about-span {
  top: 28px;
  }
}
/*--------------section About-computer----------------*/
@media screen and (min-width: 1280px){
  .container-about {
    margin: 0 auto;
    max-width: 1280px;
    margin-bottom: 100px;
    padding: 0 24px;
  }
  .about {
    margin-bottom: 53px;
  }
  .about-text {
    font-size: 22px;
    padding: 94px 0 0;
    line-height: 26.82px;
    max-width: 510px;
  }
  .image-about {
    width: 632px;
    height: 344px;
    margin-left: 90px;
  }
}
/*------------------------------------------------------*/
/*--bartek*/

.js-menu-container {
  display: none;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.js-menu-container.is-open {
  display: flex;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--PINK);
  flex-flow: column;
  height: 100%;
  transform: translateX(0);
}

.menu-links {
  text-decoration: none;
  color: var(--WHITE);
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  padding-bottom: 26px;
}

.mobile-menu {
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.modal-btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-color: var(--PINK);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* --- Sekcja Store --- */

.container-store {
  max-width: 320px;
  padding: 0 16px;
  width: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .container-store {
    max-width: 768px;
    margin-bottom: 100px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1280px) {
  .container-store {
    max-width: 1280px;
  }
}

.store-header-secondary {
  color: var(--BLACK);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 44px;
  border-bottom: 1px solid var(--BLACK);
  text-align: left;
}

@media screen and (min-width: 768px) {
  .store-header-secondary {
    color: var(--BLACK);
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 82px;
  }
}

@media screen and (min-width: 1280px) {
  .store-header-secondary {
    margin-bottom: 102px;
  }
}

.store-header-secondary-span {
  background: var(--WHITE);
  padding-right: 14px;
  position: relative;
  top: 14px;
}

@media screen and (min-width: 768px) {
  .store-header-secondary-span {
    background: var(--WHITE);
    padding-right: 16px;
    position: relative;
    top: 22px;
  }
}

.store-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}

.store-list-item-descr-h-tertiary {
  color: var(--BLACK);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 12px;
  margin: 0 0 6px 0;
}

@media screen and (min-width: 768px) {
  .store-list-item-descr-h-tertiary {
    color: var(--BLACK);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 8px 0;
  }
}

@media screen and (min-width: 1280px) {
  .store-list-item-descr-h-tertiary {
    color: var(--BLACK);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 4px 0;
  }
}

.store-list-item-descr-p {
  color: var(--BLACK);
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .store-list-item-descr-p {
    color: var(--BLACK);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
@media screen and (min-width: 1280px) {
  .store-list-item-descr-p {
    color: var(--BLACK);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.store-button {
  background-color: var(--PINK);
  color: var(--WHITE);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  width: 208px;
  height: 44px;
  padding: 14px 28px;
  border-radius: 38px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .store-button {
    color: var(--WHITE);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.85;
    display: flex;
    width: 280px;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1280px) {
  .store-button {
    display: flex;
    width: 280px;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
}

/* --- Koniec sekcji Store --- */

/* KONRAD */

.delivery-section h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--BLACK);
  position: relative;
  margin: 0 0 32px;
}

.delivery-section h2::after {
  content: '';
  width: 148px;
  height: 1px;
  background-color: var(--BLACK);
  position: absolute;
  top: 50%;
  margin-left: 14px;
}

.delivery-list {
  counter-reset: item;
  list-style-type: none;
  margin: 0;
}

.delivery-list li {
  display: flex;
  position: relative;
  justify-content: space-around;
}

.delivery-list li span {
  color: var(--BLACK);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 14px 8px;
}

.delivery-list li::before {
  content: counter(item) '';
  counter-increment: item;
  color: var(--BLACK);
  position: absolute;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -2em;
}

.delivery-img {
  margin: 26px 0 0;
  width: 100%;
}

.delivery-list li:hover::before {
  background-color: coral;
}

/* ------------MODAL--------------*/

.backdrop {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 30;
  background-color: rgba(10, 10, 10, 0.5);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 272px;
  background: var(--WHITE);
  padding: 28px 16px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.close_modal_button {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  transition: transform 0.25s ease;
}
.close_modal_button:hover {
  transform: scale(1.05);
}
.contact_us_modal_wraper {
  display: flex;
  flex-direction: column;
}
.contact_us_modal_head {
  font-size: 20px;
  font-weight: 600;
}
.contact_us_modal_txt {
  color: var(--LIGHTGREY);
  font-size: 12px;
  font-weight: 500;
  margin: 14px 0 18px 0;
}
.contact_us_modal_form_wrapper label:nth-child(1) {
  margin-bottom: 14px;
}
.contact_us_modal_form_wrapper label:nth-child(2) {
  margin-bottom: 24px;
}
.contact_us_userdata_modal_label {
  color: var(--LIGHTGREY);
  font-size: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.valid {
  color: var(--CORRECTCOLOR);
}

.invalid {
  color: var(--ERRORCOLOR);
}
.valid_name_modal_icon {
  display: none;
  position: absolute;
  top: 48%;
  left: 86%;
}
.invalid_name_modal_icon {
  display: none;
  position: absolute;
  top: 48%;
  left: 86%;
}
.valid_email_modal_icon {
  display: none;
  position: absolute;
  top: 67%;
  left: 86%;
}
.invalid_email_modal_icon {
  display: none;
  position: absolute;
  top: 67%;
  left: 86%;
}
.contact_us_name_modal_input:valid + .valid_name_modal_icon {
  display: inline-block;
  fill: var(--CORRECTCOLOR);
}
.invalid_name_modal_icon.wrong {
  display: inline-block;
  fill: var(--ERRORCOLOR);
}
.contact_us_email_modal_input:valid + .valid_email_modal_icon {
  display: inline-block;
  fill: var(--CORRECTCOLOR);
}
.invalid_email_modal_icon.wrong {
  display: inline-block;
  fill: var(--ERRORCOLOR);
}
.contact_us_email_modal_input:not(:placeholder-shown):required:valid,
.contact_us_name_modal_input:not(:placeholder-shown):required:valid {
  border-color: var(--CORRECTCOLOR);
  transform: scale(1.005);
}
.contact_us_email_modal_input:not(:placeholder-shown):required:invalid,
.contact_us_name_modal_input:not(:placeholder-shown):required:invalid {
  border-color: var(--ERRORCOLOR);
  transform: scale(1.005);
}
.contact_us_name_modal_input {
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  width: 240px;
  display: flex;
  height: 35px;
  padding: 10px 24px 10px 12px;
  align-items: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  transition: transform 0.25s ease;
}
.contact_us_email_modal_input:hover,
.contact_us_name_modal_input:hover {
  border: 1px solid var(--FADEDBLACK);
  transform: scale(1.005);
}
.contact_us_email_modal_input:focus,
.contact_us_name_modal_input:focus {
  outline: none;
}
.contact_us_email_modal_input {
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  width: 240px;
  display: flex;
  height: 35px;
  padding: 10px 24px 10px 12px;
  align-items: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  transition: transform 0.25s ease;
}
.contact_us_modal_button {
  cursor: not-allowed;
  color: var(--WHITE);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  width: 240px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  background: var(--INACTIVE_BROWN);
  border-radius: 8px;
  border: none;
}
.contact_us_modal_button.valid {
  background: var(--PINK);
  cursor: pointer;
  transition: transform 0.25s ease;
}
.contact_us_modal_button.valid:hover {
  background: var(--DARK-PINK);
  transform: scale(1.005);
}

@media screen and (min-width: 768px) {
  .icon-shop-now {
    width: 166px;
    height: 166px;
   }
  
  .modal {
    width: 480px;
    padding: 48px 32px;
  }
  .close_button {
    top: 24px;
    right: 24px;
  }
  .close_modal_btn {
    height: 24px;
    width: 24px;
  }
  .contact_us_modal_head {
    font-size: 32px;
  }
  .contact_us_modal_txt {
    font-size: 16px;
    margin: 32px 0 32px 0;
  }
  .contact_us_modal_form_wrapper label:nth-child(1) {
    margin-bottom: 24px;
  }
  .contact_us_modal_form_wrapper label:nth-child(2) {
    margin-bottom: 38px;
  }
  .contact_us_userdata_modal_label {
    font-size: 14px;
  }
  .contact_us_email_modal_input,
  .contact_us_name_modal_input {
    width: 416px;
    padding: 16px 0 16px 16px;
    height: 49px;
    font-size: 14px;
  }
  .valid_name_modal_icon,
  .valid_email_modal_icon,
  .invalid_name_modal_icon,
  .invalid_email_modal_icon {
    width: 20px;
  }
  .contact_us_modal_button {
    width: 416px;
    padding: 14px 0px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 480px;
  }
}

/* --Blog Marcin/Bartek-- */

.blog-section {
  margin: 0 auto;
  max-width: 320px;
  padding: 32px 16px;
}

.blog-title-line {
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  flex-grow: 1;
  border-top: 1px solid black;
}

.flower-list {
  width: 100%;
}

.flowers {
  display: flex;
  gap: 16px;
}

.icons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0 auto;
}

.blog-text {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 24px;
  padding-top: 14px;
}

.blog-button-text {
  color: var(--WHITE);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Montserrat';
}

.blog-button {
  padding-top: 24px;
  display: flex;
  width: 170px;
  height: 40px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  background-color: #e86f54;
  border-radius: 38px;
}

.buttons-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.flower-mobile-tablet {
  display: none;
}

.flower {
  width: 136px;
  height: 181px;
}

.arrows {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .blog-section {
    max-width: 768px;
    padding: 100px 24px;
  }

  .flower {
    width: 344px;
    height: 398px;
  }

  .blog-title {
    font-size: 44px;
  }

  .flowers {
    display: flex;
    gap: 32px;
    padding-top: 60px;
  }

  .arrows {
    width: 61px;
    height: 61px;
  }

  .blog-text {
    font-size: 32px;
    padding-bottom: 32px;
    padding-top: 18px;
  }

  .blog-button-text {
    color: var(--WHITE);
    font-size: 28px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Montserrat';
  }

  .blog-button {
    padding-top: 24px;
    display: flex;
    width: 280px;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    background-color: #e86f54;
    border-radius: 38px;
  }

  .mobile-menu-section {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .blog-section {
    max-width: 1232px;
    padding: 100px 0;
  }

  .flower {
    width: 390px;
    height: 421px;
  }

  .flower-mobile-tablet {
    display: flex;
  }

  .flowers {
    gap: 31px;
    padding-top: 122px;
    justify-content: center;
  }
}
/* --- Koniec Blog --- */

/* paweł content */

/* Header-mobile */

.header {
  width: 288px;
  height: 35px;
  margin: 16px auto;
}

.header-mobile-layout {
  display: flex;
  max-width: 480px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 35px;
}

.header-list {
  display: none;
}

/* section-hero */

.hero {
  max-width: 320px;
  height: 395px;
  /* display: flex; */
  padding: 0 16px;
  margin: 0 auto;
  /* flex-direction: column; */
  position: relative;
}

.hero-heading {
  color: var(--BLACK);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  bottom: 0;
}

.icon-shop-box {
  padding-left: 10px;
}

.hero-subheading {
  color: var(--BLACK);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subheading-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-home-page-box {
  width: 145px;
  height: 274px;
  /* display: flex; */
  /* align-items: center; */
  /* padding: 72px 72px; */
}

.heading-box {
  width: 288px;
  height: 63px;
  display: flex;
}

/* tablet styles */

@media screen and (min-width: 768px) {
  /* header-tablet */

  .header {
    width: 720px;
    height: 57px;
    flex-shrink: 0;
    margin: 24px auto;
  }

  .header-mobile-layout {
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    height: 57px;
    margin: 24px auto;
    display: flex;
  }

  .header-list {
    display: flex;
    width: 469px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
  }

  .header-list-text {
    color: var(--BLACK);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .burger-button {
    display: none;
  }

  .logo-icon {
    width: 72px;
    height: 57px;
    flex-shrink: 0;
    order: -1;
    margin-right: 80px;
  }

  .tel-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  /* section Hero-tablet */
  .hero {
    max-width: 768px;
    height: 301px;
    /* display: flex; */
    padding: 0 24px;
    margin: 0 auto;
    /* flex-direction: column; */
    position: relative;
  }

  .icon-shop-now {
    width: 145px;
    height: 145px;
  }

  .hero-heading {
    font-size: 120px;
  }

  .hero-subheading {
    font-size: 24px;
  }
}
